.footer-section {
    text-align: center;
    padding-bottom: 200px;

    .creator {
        font-size: 18vw;
        text-transform: uppercase;
        font-family: "Bai Jumjuree", sans-serif;
        font-weight: 600;
    }

    .location {
        font-size: 5vw;
        font-family: 'Bai Moda', serif;
        font-style: italic;
    }
}